.env
*.h5
*.code-workspace

.idea/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
.DS_Store/
*.egg-info/
build/
dist/

*.egg-info
assets/artifacts/
assets/detectors.zip
assets/detectors/
assets/detector_artifacts/
assets/coco_calibration_data/
assets/vis-drone-sample/
assets/coco_calibration_data.zip
assets/av_calibration_dataset/
logs*.txt
.DS_Store
assets/calibration_frames/
assets/clips
assets/clips_out